<body>
<br>
<h2>My Interests</h2>

<p>Apart from being a full stack developer, i have my own interests in life like others have.<br>
My professional interest would be to learn as many frameworks,programming languages as possible and to build my 
technical skills everyday and climb up to see myself as a Technical Architect sooner!!<br>
Touching up on my personal life, I love travelling, hanging up with friends and cousins, proud to mention 
that i'm a fitness freak and don't miss out to workout everyday, music is my first option when i'm in home,car,
workplace etc and finally a foodie basically!! <br>
<span style="color:rgb(255, 0, 140)">A few pics for you guys below. Click on Travelling, Fitness and 
  My People tabs to view them!! </span>  
</p>

<mat-tab-group class="pics">
  <mat-tab label="Travelling">
    <p class="Inside-tab">As i mentioned, i love to travel around. So far i've touched many places in India
      and will start to travel abroad and explore the world starting from 2019!!!
    </p>
  <img src="assets/img/travel.jpg" width="300" >&nbsp;&nbsp;&nbsp;
  <img src="assets/img/IMAG1606.jpg" width="300"><br><br>
  <img src="assets/img/IMAG2720.jpg" width="300">&nbsp;&nbsp;&nbsp;
  <img src="assets/img/IMAG2600.jpg" width="300">

</mat-tab>

<mat-tab label="Fitness"> 
    <p class="Inside-tab">Health is Wealth they say and is true. Healthy people are more happier in life and this
      makes me more strict to always be cautious on my fitness, which is the reason i workout everyday for an hour or plus!!  
      </p>  
    <img src="assets/img/fitness.jpg" width="170">
</mat-tab>

<mat-tab label="My people!!">
    <p class="Inside-tab">Self Explanatory and need not define that they are my most special people i've ever had with me 
      throughout!!
        </p>
      <img class="a" src="assets/img/parents.jpg" width="200" height="268">&nbsp;&nbsp;&nbsp;
      <img src="assets/img/IMAG2181.jpg" width="200" height="268"><br><br>
      <img src="assets/img/IMAG2114.jpg"  width="200" height="268">
</mat-tab>
</mat-tab-group>
</body>