<body background="src/img/bkg.jpg">

<h2>Connect With Me</h2>

<div class="social">

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<!--Facebook-->
<a href="https://www.facebook.com/anoop.kashyap93" target="_blank"><button type="button" class="btn btn-fb"><i class="fa fa-facebook"></i></button></a>&nbsp;&nbsp;&nbsp;&nbsp;
<!--Twitter-->
<a href="https://twitter.com/kashyap795" target="_blank"><button type="button" class="btn btn-tw"><i class="fa fa-twitter"></i></button></a>&nbsp;&nbsp;&nbsp;&nbsp;
<!--Google +-->
<a href="https://plus.google.com/people" target="_blank"><button type="button" class="btn btn-gplus"><i class="fa fa-google-plus"></i></button></a>&nbsp;&nbsp;&nbsp;&nbsp;
<!--Linkedin-->
<a href="https://www.linkedin.com/in/anoop-kashyap-629362a4/" target="_blank"><button type="button" class="btn btn-li"><i class="fa fa-linkedin"></i></button></a>
  
</div>

</body> 