<body id="page-top" background="assets/img/bkg.jpg">

    <div class="container-fluid p-0">

      <section class="resume-section p-3 p-lg-5 d-flex d-column" id="about">
        <div class="my-auto">
          <h1 class="mb-0">Anoop
            <span class="text-primary">Kashyap</span>
          </h1>
                  <div class="subheading mb-5">#140 K G Nagar 1st Main Road· Bangalore-560019 ·+91-8147560082·
                         <br/> <a href="mailto:name@email.com">anup.kashyap795@gmail.com</a>
                        </div>
              
                        <p class="lead mb-5">{{intro_text}}
                        </p>
                
          
        </div>
      </section>
</div>
</body>

