<body id="page-top" background="assets/img/apple.jpeg">

    <div class="container-fluid p-0">

      <section class="resume-section p-3 p-lg-5 d-flex d-column" id="about">
        <div class="my-auto">
          <h1 class="mb-0" style="color:black; padding-top:135px;">Anoop
            <span class="text-primary">Kashyap</span>
          </h1>
                  <div class="subheading mb-5">
                          <a href="mailto:name@email.com">anup.kashyap795@gmail.com</a>
                        </div>
              
                        <p class="lead mb-5" style="color:black;">{{intro_text}}
                        </p>
                
        </div>
      </section>
<div class="container">
      <footer class="footer" style="margin-top:-22px;">
        <small style="float:right;">Copyright &copy; Anoop's Portfolio by Anoop Kashyap in Angular 6</small>
      </footer>
    </div>
</div>
</body>

<!-- #140 K G Nagar 1st Main Road· Bangalore-560019 ·+91-8147560082· -->