<body>

<h2>Experience</h2>

<p>I have an Experience of 3 years in IT industry and in the skills mentioned in the tech-skills page.<br>
My IT journey has been wavering since day 1 from bad to good and from good to fantastic. I would like 
to proudly mention that, i've welcomed all the good and bad deeds which i came across and never backed
off from any challenge which hung up on my way. Three years might be very short to describe my journey, 
but will weigh a few words of truth, dedication, commitment, hardwork etc. 
I just would like to take you through my experiences in the two organizations in my career. 
<br><span style="color:red">Click on the expansion panels below to find more!!</span>
</p>

<mat-accordion>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title >
        Accenture
      </mat-panel-title>
      <mat-panel-description class="role">
        Software Engineer.
      </mat-panel-description>
    </mat-expansion-panel-header>
    <p class="panel">I joined Accenture on 07-oct-15 as a fresher, with java as my primary skill in the organization.
      Was a part of DHL project(German Client) from Products domain for 1 year, with hands on experience in Angular Framework and my role being an
      application developer, which bagged me a promotion there from an Associate Software Engineer to Software Engineer.<br>
      Joined the next successive project SWISSCOM(Switzerland Client) from Communication domain in oct 2016, where i was given the role of a MEAN stack developer,
      with hands on experience in Node JS, Angular 4, HTML 5.0, CSS 3.0, Bootstrap, RESTful services for 1.5+ years.
    </p>
  </mat-expansion-panel>

  <mat-expansion-panel (opened)="panelOpenState = true"
                       (closed)="panelOpenState = false">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Terralogic
      </mat-panel-title>
      <mat-panel-description class="role"> 
          Senior Software Engineer.
        </mat-panel-description>
    </mat-expansion-panel-header>
    <p class="panel">I joined Terralogic Software Solutions, on 17-july-2018 as a Senior Software Engineer with my role
      being a MEAN stack developer. <br>
      I was just lucky to find myself an opportunity to work in FRANKLY project (USA client)
      from Communication domain, on a fantasic framework called Ruby On Rails. I'm very happy to have landed in this project
      with my bucket piled up with learning, coding, challenging etc in my days presently. I'm working here as a Full Stack developer
      for a pretty huge application, and feel blissful to have added a valuable skill to my profile!! 
    </p>
  </mat-expansion-panel>

</mat-accordion>
</body>