<body>

    <h2>Education</h2>

    <mat-card>
        <mat-card-header>
            <mat-card-title class="edu">
              <a href="https://www.bnmit.org/" target="_blank">B N M Institute of Technology</a> <span>June 2015</span>
            </mat-card-title>

            <mat-card-subtitle class="sub-edu">
              Bachelor of Computer Science Engineering
            </mat-card-subtitle>
            <img mat-card-avatar src="src/assets/img/BNM logo.jpg">

        </mat-card-header>
    </mat-card>
<br><br>
    <mat-card>
        <mat-card-header>
            <mat-card-title class="edu">
                <a href="http://jnanodayainstitutions.edu.in/" target="_blank">Jnanodaya Institutions</a> <span class="a">June 2011</span>
            </mat-card-title>

            <mat-card-subtitle class="sub-edu">
              Pre University Education
            </mat-card-subtitle>
            <img mat-card-avatar src="src/assets/img/Jnanodaya logo.png">

        </mat-card-header>
    </mat-card>
    <br><br>

    <mat-card>
        <mat-card-header>
            <mat-card-title class="edu">
              <a href="http://jnanodayainstitutions.edu.in/" target="_blank">Jnanodaya Institutions</a> <span class="a">March 2009</span>
            </mat-card-title>
            <mat-card-subtitle class="sub-edu">
                Central Board Of Secondary Education
            </mat-card-subtitle>
            <img mat-card-avatar src="src/assets/img/Jnanodaya logo.png">

        </mat-card-header>
    </mat-card>

</body>