<body>

<br><h2>Technical Skills</h2>
<div class="subheading">Programming Languages</div>
    
   <br> <div class="dev-icons">
      <i class="devicon-angularjs-plain colored"><span class="word_size">Angular 6</span></i>
      <i class="devicon-nodejs-plain colored"><span class="word_size">Node JS</span></i>
      <i class="devicon-typescript-plain colored"><span class="word_size">TypeScript</span></i>
      <i class="devicon-javascript-plain colored"><span class="word_size">JavaScript</span></i>
      <i class="devicon-java-plain colored"><span class="word_size">Java</span></i>
      <i class="devicon-express-original colored"><span class="word_size">Express</span></i>
    </div>

    <div class="dev-icons">
        <i class="devicon-ruby-plain colored"><span class="word_size">Ruby</span></i>
        <i class="devicon-rails-plain colored"><span class="word_size">Rails</span></i>
        <i class="devicon-jquery-plain colored"><span class="word_size">JQuery</span></i>
        <i class="devicon-mongodb-plain colored"><span class="word_size">Mongo DB</span></i>
        <i class="devicon-mysql-plain colored"><span class="word_size">MySql</span></i>
        <i class="devicon-html5-plain colored"><span class="word_size">Html 5</span></i>
        <i class="devicon-css3-plain colored"><span class="word_size">Css 3</span></i>

    </div>

      <br><div class="subheading">Tools &amp; Servers</div>
      <div class="dev-icons">
          <i class="devicon-heroku-original colored"><span class="word_size">Heroku</span></i>
          <i class="devicon-git-plain colored"><span class="word_size">Git</span></i>
          <i class="devicon-github-plain colored"><span class="word_size">GitHub</span></i>
          <i class="devicon-gitlab-plain colored"><span class="word_size">GitLab</span></i>
          <i class="devicon-atom-original colored"><span class="word_size">Atom</span></i>
          <i class="devicon-visualstudio-plain colored"><span class="word_size">VS Code</span></i>

          </div>

<span class="glyphicon glyphicon-home"></span>

</body>
            
             

