<body background="src/img/bkg.jpg">

<br><h2>Technical Skills</h2>
<div class="subheading">Programming Languages</div>
    
   <br> <div class="dev-icons">
      <i class="devicon-angularjs-plain colored"><span class="word_size">Angular 6</span>&nbsp;&nbsp;</i>
      <i class="devicon-nodejs-plain colored"><span class="word_size">Node JS</span>&nbsp;&nbsp;</i>
      <i class="devicon-typescript-plain colored"><span class="word_size">TypeScript</span>&nbsp;&nbsp;</i>
      <i class="devicon-javascript-plain colored"><span class="word_size">JavaScript</span>&nbsp;&nbsp;</i>
      <i class="devicon-java-plain colored"><span class="word_size">Java</span>&nbsp;&nbsp;</i>
      <i class="devicon-express-original colored"><span class="word_size">Express</span>&nbsp;&nbsp;</i>
    </div>

    <div class="dev-icons">
        <i class="devicon-ruby-plain colored"><span class="word_size">Ruby</span>&nbsp;&nbsp;</i>
        <i class="devicon-rails-plain colored"><span class="word_size">Rails</span>&nbsp;&nbsp;</i>
        <i class="devicon-jquery-plain colored"><span class="word_size">JQuery</span>&nbsp;&nbsp;</i>
        <i class="devicon-mongodb-plain colored"><span class="word_size">Mongo DB</span>&nbsp;&nbsp;</i>
        <i class="devicon-mysql-plain colored"><span class="word_size">MySql</span>&nbsp;&nbsp;</i>
        <i class="devicon-html5-plain colored"><span class="word_size">Html 5</span>&nbsp;&nbsp;</i>
        <i class="devicon-css3-plain colored"><span class="word_size">Css 3</span>&nbsp;&nbsp;</i>

    </div>

      <br><div class="subheading">Tools &amp; Servers</div>
      <div class="dev-icons">
          <i class="devicon-heroku-original colored"><span class="word_size">Heroku</span>&nbsp;&nbsp;</i>
          <i class="devicon-git-plain colored"><span class="word_size">Git</span>&nbsp;&nbsp;</i>
          <i class="devicon-github-plain colored"><span class="word_size">GitHub</span>&nbsp;&nbsp;</i>
          <i class="devicon-gitlab-plain colored"><span class="word_size">GitLab</span>&nbsp;&nbsp;</i>
          <i class="devicon-atom-original colored"><span class="word_size">Atom</span>&nbsp;&nbsp;</i>
          <i class="devicon-visualstudio-plain colored"><span class="word_size">VS Code</span>&nbsp;&nbsp;</i>

          </div>

<span class="glyphicon glyphicon-home"></span>

</body>
            
             

